/* --------------- HEADER -------------- */
.heading {
  position: relative;
  padding: 28px 35px;
  background-color: var(--green);
  height: 674px;
}

.menu {
  gap: 34px;
  margin-left: 658px;
  margin-right: 111px;
}

.menu--item {
  font-size: 20px;
  line-height: 30px;
  color: var(--white);
  border: 5px transparent;
}

.menu--item:hover {
  border-bottom: 5px solid var(--yellow);
  cursor: pointer;
}

.cover {
  padding-left: 99px;
}

.cover--left {
  display: flex;
  flex-direction: column;
  gap: 73px;
  div {
    display: flex;
    gap: 24px;
  }
}

.cover--text {
  font-family: "DM Serif Text", Arial, Helvetica, sans-serif;
  font-size: 55px;
  line-height: 75.41px;
  color: var(--white);
  width: 542px;
  padding-top: 146px;
}

.cover--btn {
  color: var(--black) !important;
}

.couch--right {
  z-index: 1;
  margin-right: 73px;
}

.dots {
  position: absolute;
  top: 212px;
  right: 74px;
  z-index: -1;
}

.couch {
  z-index: 1;
  position: absolute;
  top: 136px;
  left: 602px;
}

/* -------------------- MAIN ------------------- */

/* ----------- CHAIRS ----------- */

.chairs--container {
  margin: 80.92px 97px 80.92px 99px;
  p {
    width: 214px;
  }
}

.chairs--text {
  gap: 0px;
  button {
    margin-top: 5.65px;
  }
}

.chairs--title {
  line-height: 51px !important;
}

.chairs {
  gap: 42px;

  p {
    text-align: cent er;
    line-height: 24px;
  }
}

.chair--item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: transparent;
  border-radius: 20px;
  width: 296px;
  height: 288.86px;
  margin-top: 9px;
  background-color: var(--background);
  transition: 0.3s ease-in-out;

  img {
    position: absolute;
    top: -71.51px;
  }
}

.elipse {
  position: absolute;
  top: 265px !important;
  align-items: center;
  opacity: 0;
}

.chair--item:hover {
  box-shadow: 3px 5px rgba(0, 0, 0, 0.25);

  .elipse {
    opacity: 100;
  }
}

.chair--name {
  position: absolute;
  top: 191px;
  left: 93px;
  font-size: 16px;
  font-weight: 600;
}

.chair--price {
  position: absolute;
  top: 215px;
  left: 115px;
  font-size: 18px;
  font-weight: 700;
}

/* ------------ WHY CHOOSE US ---------- */
.whychooseus {
  margin: 144px 155px 244px 99px;
  display: flex;
  gap: 199px;

  p {
    width: 444px;
  }
}

.whychooseus--left {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.whychooseus--title {
  font-family: Inter;
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
}

.whychooseus--name {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.reasons {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
}

.reason {
  position: relative;
  p {
    width: 247px;
    color: var(--text-color);
  }
  img {
    position: absolute;
    top: 1.28px;
    left: 11.13px;
  }
}

.whychooseus--right {
  position: relative;
}

.whychooseus--dots {
  position: absolute;
  z-index: -1;
}

.whychooseus--img {
  position: absolute;
  top: 44.2px;
  left: 83px;
  z-index: 1;
}

/* --------- We help you -------- */
.wehelp {
  padding: 40px 113px 0px 95px;
  height: 700px;
  display: flex;
  justify-content: space-between;
}

.img--grid {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;

  img {
    position: absolute;
    border-radius: 8px;
  }
}

.img1 {
  top: 72.45px;
  left: 113px;
}

.img2 {
  top: 71.51px;
  left: 544px;
}

.img3 {
  top: 265px;
  left: 492px;
}

.wehelp--text {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-top: 130px;

  p {
    width: 444px;
  }

  ul {
    color: var(--text-color);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 22.58px;
  }

  li {
    width: 194px;
  }

  button {
    margin-top: 20px;
  }
}

/* -------- TESTIMONIALS ------ */
.testimonials {
  padding: 210px 201px 210px 175px;
}

.testimonials--container {
  display: flex;
  flex-direction: column;
  gap: 115px;
}

.testimonial-chair--item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: transparent;
  border-radius: 20px;
  width: 98px;
  height: 92px;
  background-color: var(--background-small);

  img {
    position: absolute;
    bottom: -2px;
  }
}

.middle-item {
  left: 2px;
}

.chair--text {
  display: flex;
  flex-direction: column;
  gap: 10.35px;
  width: 211px;
  font-family: Inter;
  font-size: 14px;
  line-height: 22px;
}

.name {
  font-weight: 700;
}

.description {
  color: var(--text-color);
  font-size: 14px;
}

.testimonials--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 44px;
  text-align: center;
}

.testimonial--p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  width: 759px;
}

.testimonial--btn {
  padding: 20px 25px;
  background-color: var(--grey);
  border-radius: 50%;
}

.testimonial--btn:hover {
  background-color: var(--yellow);
}

.author {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  margin-top: 205px;

  img {
    border-radius: 50%;
  }
}

.author--info {
  display: flex;
  flex-direction: column;
  align-items: center;

  :nth-child(1) {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
  }

  :nth-child(2) {
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 32px;
  }
}

/* -------------- BLOGS ------------ */
.blog {
  display: flex;
  flex-direction: column;
  gap: 87px;
  margin: 0px 199px 327px 156px;

  button {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 3px solid var(--yellow);
    cursor: pointer;
  }
}

.blog--title {
  line-height: 51px !important;
}

.blog--item {
  font-family: Inter;

  img {
    width: 360px;
    border-radius: 8px;
  }
}

.blog--name {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  margin-top: 44px;
}

.blog--info {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  margin-top: 5px;

  span {
    font-weight: 600;
  }
}

.mail {
  padding: 0px 0px 75px 92.57px;
}

/* -------------------- FOOTER ------------- */
footer {
  position: relative;
}

.subscribe {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
}

.sofa {
  position: absolute;
  right: 136px;
  top: -143px;
}

.social-media {
  display: flex;
  gap: 2px;

  div {
    border-radius: 50%;
    text-align: center;
    background-color: var(--grey);
    width: 41px;
    height: 41px;
  }
}
